<template name="userMenu">
    <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'profile'}}" id="themes">{{currentUser.profile.name}}</a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="./default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="./cerulean/">Cerulean</a></li>
                <li><a href="./cosmo/">Cosmo</a></li>
                <li><a href="./cyborg/">Cyborg</a></li>
                <li><a href="./darkly/">Darkly</a></li>
                <li><a href="./flatly/">Flatly</a></li>
                <li><a href="./journal/">Journal</a></li>
                <li><a href="./lumen/">Lumen</a></li>
                <li><a href="./paper/">Paper</a></li>
                <li><a href="./readable/">Readable</a></li>
                <li><a href="./sandstone/">Sandstone</a></li>
                <li><a href="./simplex/">Simplex</a></li>
                <li><a href="./slate/">Slate</a></li>
                <li><a href="./spacelab/">Spacelab</a></li>
                <li><a href="./superhero/">Superhero</a></li>
                <li><a href="./united/">United</a></li>
                <li><a href="./yeti/">Yeti</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="logout-btn">Logout</a>
            </li>
</template>