<template name="commentForm">
            <div class="well">
            <form id="comments-form">
                <fieldset>
                    <div class="form-group">
                        <label for="comment">Comment Body</label>
                        <textarea name="comment_body" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Post Comment" class="btn btn-info"/>
                    </div>
                </fieldset>
                
            </form>
        </div>
</template>